<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Catalog</title>
    <SCRIPT type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></SCRIPT>
    <script>
        $(document).ready(function () {
            $("#more-btn").click(function () {
                let i = $(".goods").children().last().attr('id');
                console.log(i);
                $.ajax({
                    type: "GET",
                    url: "catalog_model.php",
                    data: "id="+i,
                    success: function (msg) {

                        $(".goods").append(msg);
                        console.log('add msg');
                    }
                })
            })
        });
    </script>
</head>
<body style="overflow-anchor: none;">
<div class="container">
    <div class="goods">
        {% include 'catalog_part.tmpl' %}
    </div>
    <button id="more-btn" class="more-btn">Ещё</button>
</div>
</body>
</html>